* {
  font-family: Helvetica;
  color: orange;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background: none;
  border: none;
}

body {
  background: black;
}

header {
  background: black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid orange;
}


.menu {
  float: left;
  height: 30px;
  left: 30px;
  background: orange;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu>img {
  height: 30px;
  width: 30px;
}

header>div>img {
  height: 50px;
  float: left;
  margin-left: 10px;
}

header>div>form {
  float: left;
  width: 600px;
  height: 50px;
  margin: auto;
}

header>div>form>button {
  float: right;
  height: 27px;
  width: 27px;
  border: none;
  margin-top: 10px;
  background: orange;
}

header>div>form>button>img {
  height: 15px;
  width: 15px;
}
header>div>form>input {
  float: right;
  width: 300px;
  height: 25px;
  margin-top: 10px;
  font-size: 20px;
  border: none
}

header>div>ul {
  float: right;
  height: 50px;
  width: 150px;
  margin: 0px;
  padding: 0px;
}

header>div>ul>li {
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background: orange;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

header>div>ul>li>img {
  height: 30px;
  width: 30px;
}

.dropdown {
  background: black;
  height: 1000px;
  width: 200px;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-top: 25px;
  border-right: 1px solid orange;
  border-bottom: 1px solid orange;
  display: inline;
}

.dropdown>div {
  margin: 0px;
  margin-top: 20px;
  padding: 15px;
  width: 160px;
  height: 900px;
}

.dropdown>div>* {
  padding: 0px;
  margin: 0px;
}

.dropdown>div>ul {
  margin-top: 10px;
}

.dropdown>div>ul>li {
padding-top: 5px;
padding-bottom: 5px;
}


.dropdown>div>ul>li:hover>a, .dropdown>div>ul>li:hover {
  background: orange;
  color: black;
}

.dropdown>div>ul>li>a>img {
  height: 15px;
  width: 15px;
  background: orange;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown>div>h5 {
  font-size: 15px;
  margin-top: 15px;

  padding-top: 5px;border-top: 2px solid orange;
}


.container {
  width: 860px;
  height: 437px;
  outline: 2px solid #222222;
  float: left;
  margin-left: 70px;
  overflow: hidden;
}

.container>* {
  margin: 0px;
  padding: 0px;
}

.featured>:first-child {
  margin-top: 100px;
}

.container> h3 {
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background: #222222;
  color: orange;
}



.container>ul>li {
  float: left;
  display: inline-block;
  outline: 1px solid orange;
  width: 196px;
  height: 174px;
  margin-left: 15px;
  margin-top: 20px;
}

.container>ul>li>img {
  height: 110px;
  width: 196px;
  margin-bottom: 4px;
}
